//
// All additional wp-login.php styles
//

@import 'partials/variables'

body.login
	background-color: white

	#login
		padding-top: 6%

h1 a
	width: 100%
	background-size: auto 100%

form
	box-shadow: none
	-webkit-box-shadow: none
	padding-bottom: 0