/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 251 of partials/_header.sass
        from line 227 of main.sass

246: 
247: 				&.child-active
248: 					background: transparent
249: 
250: 		.man-header > a
251: 				border-top: none
252: 
253: 		.children,
254: 		.popular-categories
255: 			position: absolute
256: 			left: 27%

Backtrace:
partials/_header.sass:251
main.sass:227
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:509:in `tree'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:513:in `tree'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:513:in `tree'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:396:in `_to_tree'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:299:in `to_tree'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/stack.rb:88:in `block in with_import'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/stack.rb:88:in `with_import'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:350:in `watch_or_update'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/exec/base.rb:52:in `parse'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/lib/sass/exec/base.rb:19:in `parse!'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/gems/sass-3.4.5/bin/sass:13:in `<top (required)>'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/bin/sass:23:in `load'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/bin/sass:23:in `<main>'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/joshcunningham/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 251 of partials/_header.sass\A         from line 227 of main.sass\A \A 246: \A 247: 				&.child-active\A 248: 					background: transparent\A 249: \A 250: 		.man-header > a\A 251: 				border-top: none\A 252: \A 253: 		.children,\A 254: 		.popular-categories\A 255: 			position: absolute\A 256: 			left: 27%"; }
