// Imports

@import variables

// Global, general

%cf
	zoom: 1

	&:before,
	&:after
		content: ""
		display: table


	&:after
		clear: both

%no_space
	padding: 0
	margin: 0

%outer_wrap
	@extend %no_space
	min-width: $l_min_width
	width: 100%

	.inner
		@extend %cf
		+outer-container(1100px)
		padding: 0 2%