//
// Colors
//


// Main

$c_main_red: #8b252a
$c_main_blue: #4981bc
$c_main_blue_med: lighten($c_main_blue, 20)
$c_main_blue_light: lighten($c_main_blue, 32)
$c_main_blue_lightest: lighten($c_main_blue, 41)

$c_black: #090909
$c_gray_darkest: #1c1c20
$c_gray_dark: #35333f

$c_gray_medium_dark: #777
$c_gray_medium: #999
$c_gray_medium_light: #c8bec7

$c_gray_light_medium: #dedcde
$c_gray_light: #eeebee
$c_gray_lightest: #f8f6f8
$c_white: #ffffff

// Text colors

$c_text: $c_gray_darkest
$c_text_medium: $c_gray_medium_dark
$c_text_light: $c_gray_medium_light
$c_text_link: $c_twitter

// Section colors

$c_bg_lightest: $c_gray_light

// UI colors

$c_ui_error: #ff0033
$c_ui_error_lt: #ffd6de
$c_ui_required: $c_ui_error

// Other

$c_brand_twitter: #04ABEC
$c_brand_linkedin: #0098BC
$c_brand_facebook: #3b5998
$c_brand_google_plus: #d44c35

//
// Typography
//

// Font size

$text_size_reg: 16px
$text_size_sm: 14px
$text_size_lrg: 18px
$text_size_lrgest: 20px

// Fonts

$font_main: Lato, Helvetica, Arial, sans-serif
$font_dir: '../fonts/'

// Font weights

$weight_light: 300
$weight_regular: 400
$weight_normal: $weight_regular
$weight_bold: 700
$weight_semibold: $weight_bold

// Line heights
$line_h_tight: 1.2em
$line_h_reg: 1.5em

//
// Layout
//

$max_width_val: 1200

$min_width: 300px
$max_width: #{$max_width_val}px

// Breakpoints

$break_small: 600px
$break_mid: 750px
$break_lrg: 900px
$break_lrgest: 1080px

//
// Images
//

$img_dir: '../images/'
$img_logo: '#{$img_dir}logo.png'