body {
  width: 100% !important;
  min-width: 100%;
  margin: 0;
  padding: 0;
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 14px;
  line-height: 19px; }
  body.outlook p {
    display: inline !important; }

.ExternalClass {
  width: 100%;
  line-height: 100%; }
  .ExternalClass p {
    line-height: 100%; }
  .ExternalClass span {
    line-height: 100%; }
  .ExternalClass font {
    line-height: 100%; }
  .ExternalClass td {
    line-height: 100%; }
  .ExternalClass div {
    line-height: 100%; }

#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important; }

img {
  outline: none;
  text-decoration: none;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block; }
  img.center {
    margin: 0 auto;
    float: none; }

center {
  width: 100%;
  min-width: 580px; }

a {
  color: #04abec;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }
  a img {
    border: none; }

p {
  margin: 0 0 1em;
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 19px; }
  p.lead {
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 1.3em; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
  vertical-align: top;
  text-align: left; }
  table.body {
    height: 100%;
    width: 100%;
    color: #1c1c20;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    line-height: 19px; }
  table.container {
    width: 580px;
    margin: 0 auto;
    text-align: inherit; }
    table.container table.row {
      display: block; }
    table.container td.last {
      padding-right: 0; }
  table.row {
    padding: 0;
    width: 100%;
    position: relative; }
    table.row td.last {
      padding-right: 0; }
  table.columns {
    margin: 0 auto; }
    table.columns td {
      padding: 0 0 10px; }
      table.columns td.sub-columns {
        padding-right: 10px; }
      table.columns td.sub-column {
        padding-right: 10px; }
    table.columns .text-pad {
      padding-left: 10px;
      padding-right: 10px; }
    table.columns .left-text-pad {
      padding-left: 10px; }
    table.columns .text-pad-left {
      padding-left: 10px; }
    table.columns .right-text-pad {
      padding-right: 10px; }
    table.columns .text-pad-right {
      padding-right: 10px; }
  table.column {
    margin: 0 auto; }
    table.column td {
      padding: 0 0 10px; }
      table.column td.sub-columns {
        padding-right: 10px; }
      table.column td.sub-column {
        padding-right: 10px; }
    table.column .text-pad {
      padding-left: 10px;
      padding-right: 10px; }
    table.column .left-text-pad {
      padding-left: 10px; }
    table.column .text-pad-left {
      padding-left: 10px; }
    table.column .right-text-pad {
      padding-right: 10px; }
    table.column .text-pad-right {
      padding-right: 10px; }
  table.one {
    width: 30px; }
    table.one center {
      min-width: 30px; }
    table.one .panel center {
      min-width: 10px; }
  table.two {
    width: 80px; }
    table.two center {
      min-width: 80px; }
    table.two .panel center {
      min-width: 60px; }
  table.three {
    width: 130px; }
    table.three center {
      min-width: 130px; }
    table.three .panel center {
      min-width: 110px; }
  table.four {
    width: 180px; }
    table.four center {
      min-width: 180px; }
    table.four .panel center {
      min-width: 160px; }
  table.five {
    width: 230px; }
    table.five center {
      min-width: 230px; }
    table.five .panel center {
      min-width: 210px; }
  table.six {
    width: 280px; }
    table.six center {
      min-width: 280px; }
    table.six .panel center {
      min-width: 260px; }
  table.seven {
    width: 330px; }
    table.seven center {
      min-width: 330px; }
    table.seven .panel center {
      min-width: 310px; }
  table.eight {
    width: 380px; }
    table.eight center {
      min-width: 380px; }
    table.eight .panel center {
      min-width: 360px; }
  table.nine {
    width: 430px; }
    table.nine center {
      min-width: 430px; }
    table.nine .panel center {
      min-width: 410px; }
  table.ten {
    width: 480px; }
    table.ten center {
      min-width: 480px; }
    table.ten .panel center {
      min-width: 460px; }
  table.eleven {
    width: 530px; }
    table.eleven center {
      min-width: 530px; }
    table.eleven .panel center {
      min-width: 510px; }
  table.twelve {
    width: 580px; }
    table.twelve center {
      min-width: 580px; }
    table.twelve .panel center {
      min-width: 560px; }
  table.center {
    text-align: center; }
  table.radius td {
    border-radius: 3px; }
  table.round td {
    border-radius: 500px; }

td {
  hyphens: auto;
  border-collapse: collapse !important;
  padding: 0;
  vertical-align: top;
  text-align: left;
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0;
  font-size: 14px;
  line-height: 19px; }
  td.wrapper {
    padding: 10px;
    position: relative; }
  td.sub-column {
    min-width: 0; }
  td.sub-columns {
    min-width: 0; }
  td.offset-by-one {
    padding-left: 50px; }
  td.offset-by-two {
    padding-left: 100px; }
  td.offset-by-three {
    padding-left: 150px; }
  td.offset-by-four {
    padding-left: 200px; }
  td.offset-by-five {
    padding-left: 250px; }
  td.offset-by-six {
    padding-left: 300px; }
  td.offset-by-seven {
    padding-left: 350px; }
  td.offset-by-eight {
    padding-left: 400px; }
  td.offset-by-nine {
    padding-left: 450px; }
  td.offset-by-ten {
    padding-left: 500px; }
  td.offset-by-eleven {
    padding-left: 550px; }
  td.expander {
    visibility: hidden;
    width: 0;
    padding: 0 !important; }
  td.center {
    text-align: center; }

tr {
  padding: 0;
  vertical-align: top;
  text-align: left; }

hr {
  clear: both;
  border: none;
  border-bottom: 1px solid #eeebee;
  margin: 2em; }

.body .columns td.one {
  width: 8.333333%; }

.body .columns td.two {
  width: 16.666666%; }

.body .columns td.three {
  width: 25%; }

.body .columns td.four {
  width: 33.333333%; }

.body .columns td.five {
  width: 41.666666%; }

.body .columns td.six {
  width: 50%; }

.body .columns td.seven {
  width: 58.333333%; }

.body .columns td.eight {
  width: 66.666666%; }

.body .columns td.nine {
  width: 75%; }

.body .columns td.ten {
  width: 83.333333%; }

.body .columns td.eleven {
  width: 91.666666%; }

.body .columns td.twelve {
  width: 100%; }

.body .column td.one {
  width: 8.333333%; }

.body .column td.two {
  width: 16.666666%; }

.body .column td.three {
  width: 25%; }

.body .column td.four {
  width: 33.333333%; }

.body .column td.five {
  width: 41.666666%; }

.body .column td.six {
  width: 50%; }

.body .column td.seven {
  width: 58.333333%; }

.body .column td.eight {
  width: 66.666666%; }

.body .column td.nine {
  width: 75%; }

.body .column td.ten {
  width: 83.333333%; }

.body .column td.eleven {
  width: 91.666666%; }

.body .column td.twelve {
  width: 100%; }

.key-val td:first-child {
  font-weight: 700; }

.key-val td:last-child {
  font-size: 1.1em; }

.block-grid {
  width: 100%;
  max-width: 580px; }
  .block-grid td {
    display: inline-block;
    padding: 10px; }

h1 {
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0.6em 0 0.4em;
  text-align: left;
  line-height: 1.3;
  font-size: 30px; }
  h1.center {
    text-align: center; }
  h1 a {
    color: #04abec; }

h2 {
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0.6em 0 0.4em;
  text-align: left;
  line-height: 1.3;
  word-break: normal;
  font-size: 26px; }
  h2.center {
    text-align: center; }
  h2 a {
    color: #04abec; }

h3 {
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0.6em 0 0.4em;
  text-align: left;
  line-height: 1.3;
  word-break: normal;
  font-size: 24px; }
  h3.center {
    text-align: center; }
  h3 a {
    color: #04abec; }

h4 {
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0.6em 0 0.4em;
  text-align: left;
  line-height: 1.3;
  word-break: normal;
  font-size: 20px; }
  h4.center {
    text-align: center; }
  h4 a {
    color: #04abec; }

h5 {
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0.6em 0 0.4em;
  text-align: left;
  line-height: 1.3;
  word-break: normal;
  font-size: 18px; }
  h5.center {
    text-align: center; }
  h5 a {
    color: #04abec; }

h6 {
  color: #1c1c20;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0.6em 0 0.4em;
  text-align: left;
  line-height: 1.3;
  font-size: 16px; }
  h6.center {
    text-align: center; }
  h6 a {
    color: #04abec; }

.show-for-small {
  display: none; }

.hide-for-desktop {
  display: none; }

small {
  font-size: 10px; }

.panel {
  background: #f8f6f8;
  border: 1px solid #eeebee;
  padding: 10px !important; }

.sub-grid table {
  width: 100%; }

.sub-grid td.sub-columns {
  padding-bottom: 0; }

@media only screen and (max-width: 600px) {
  table[class="body"] img {
    width: auto !important;
    height: auto !important; }
  table[class="body"] center {
    min-width: 0 !important; }
  table[class="body"] .container {
    width: 95% !important; }
  table[class="body"] .row {
    width: 100% !important;
    display: block !important; }
  table[class="body"] .wrapper {
    display: block !important;
    padding-right: 0 !important; }
    table[class="body"] .wrapper.first .columns {
      display: table !important; }
    table[class="body"] .wrapper.first .column {
      display: table !important; }
  table[class="body"] .columns {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: block !important; }
    table[class="body"] .columns td.one {
      width: 8.333333% !important; }
    table[class="body"] .columns td.two {
      width: 16.666666% !important; }
    table[class="body"] .columns td.three {
      width: 25% !important; }
    table[class="body"] .columns td.four {
      width: 33.333333% !important; }
    table[class="body"] .columns td.five {
      width: 41.666666% !important; }
    table[class="body"] .columns td.six {
      width: 50% !important; }
    table[class="body"] .columns td.seven {
      width: 58.333333% !important; }
    table[class="body"] .columns td.eight {
      width: 66.666666% !important; }
    table[class="body"] .columns td.nine {
      width: 75% !important; }
    table[class="body"] .columns td.ten {
      width: 83.333333% !important; }
    table[class="body"] .columns td.eleven {
      width: 91.666666% !important; }
    table[class="body"] .columns td.twelve {
      width: 100% !important; }
  table[class="body"] .column {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    display: block !important; }
    table[class="body"] .column td.one {
      width: 8.333333% !important; }
    table[class="body"] .column td.two {
      width: 16.666666% !important; }
    table[class="body"] .column td.three {
      width: 25% !important; }
    table[class="body"] .column td.four {
      width: 33.333333% !important; }
    table[class="body"] .column td.five {
      width: 41.666666% !important; }
    table[class="body"] .column td.six {
      width: 50% !important; }
    table[class="body"] .column td.seven {
      width: 58.333333% !important; }
    table[class="body"] .column td.eight {
      width: 66.666666% !important; }
    table[class="body"] .column td.nine {
      width: 75% !important; }
    table[class="body"] .column td.ten {
      width: 83.333333% !important; }
    table[class="body"] .column td.eleven {
      width: 91.666666% !important; }
    table[class="body"] .column td.twelve {
      width: 100% !important; }
  table[class="body"] table.columns td {
    width: 100% !important; }
    table[class="body"] table.columns td.expander {
      width: 1px !important; }
  table[class="body"] table.column td {
    width: 100% !important; }
  table[class="body"] td.offset-by-one {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-two {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-three {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-four {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-five {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-six {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-seven {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-eight {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-nine {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-ten {
    padding-left: 0 !important; }
  table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important; }
  table[class="body"] .right-text-pad {
    padding-left: 10px !important; }
  table[class="body"] .text-pad-right {
    padding-left: 10px !important; }
  table[class="body"] .left-text-pad {
    padding-right: 10px !important; }
  table[class="body"] .text-pad-left {
    padding-right: 10px !important; }
  table[class="body"] .hide-for-small {
    display: none !important; }
  table[class="body"] .show-for-desktop {
    display: none !important; }
  table[class="body"] .show-for-small {
    display: inherit !important; }
  table[class="body"] .hide-for-desktop {
    display: inherit !important; } }

.template-label {
  color: #1c1c20;
  font-weight: bold;
  font-size: 11px; }

.callout .wrapper {
  padding-bottom: 20px; }

.callout .panel {
  background: #d7f3fe;
  border: none; }

.header {
  background: #eeebee; }

.footer .wrapper {
  background: #eeebee; }

.footer h5 {
  padding-bottom: 10px; }

#outlook a {
  padding: 0; }

.two-up td {
  width: 270px; }

.three-up td {
  width: 173px; }

.four-up td {
  width: 125px; }

.five-up td {
  width: 96px; }

.six-up td {
  width: 76px; }

.seven-up td {
  width: 62px; }

.eight-up td {
  width: 52px; }

span.center {
  display: block;
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=email.css.map */